@import "tailwindcss";

:root {
  --background: #FBF6F1;
  --foreground: #171717;
  --footer-primary-bg: #FBF6F1;
  --primary-text: #223614;
  --message-section-bg : #E5E0DA;
  --olive-bg: #7E7B46;
  --midBeige-bg :#E5E0DA;
  --mildLilac-bg : #C2BFCB;
  
}

.worksection{
  background-color: var(--mildLilac-bg);
}
.profession{
  background-color: var(--midBeige-bg);
}

.contact{
  background-color: var(--olive-bg);
}
.footer-primary {
  background-color: var(--footer-primary-bg);
 
}
.footer-secondary {
  background-color: var(--midBeige-bg);
}
.primary-text{
  color:var(--primary-text)
}

.message-section{
  background-color: var(--message-section-bg);
  color: var(--primary-text);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
