@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --footer-primary-bg: #FBF6F1;
  --footer-secondary-bg: #E5E0DA;
  --primary-text: #223614;
}

.footer-primary {
  background-color: var(--footer-primary-bg);
 
}
.footer-secondary {
  background-color: var(--footer-secondary-bg);
}
.primary-text{
  color:var(--primary-text)
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
